<header class="d-flex align-items-center admin-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg admin-header-nav">
            <button type="button" id="adminSidebarCollapse" class="btn admin-header-nav-btn">
                <i class="fas fa-bars admin-header-nav-btn__icon"></i>
                <!-- <span>Toggle admin-Sidebar</span> -->
            </button>
            <div class="collapse navbar-collapse" id="">
                <ul class="navbar-nav admin-header-nav-list d-flex align-items-center">
                    <li class="nav-item admin-header-nav-item admin-header-account">
                        <a href="/admin/adminUser/currentAccount" class="nav-link  d-flex align-items-center admin-header-nav__link">
                            <div class="rounded-circle admin-header-avatar">
                                <img src="{{user.avatar}}" alt="admin-avatar" class="admin-header-avatar__img">
                            </div>
                            <span class="admin-header-account__name">{{user.username}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</header>