<nav id="adminSidebar" class="admin-sidebar">
    <div class="admin-sidebar-header">
        <h3 class="admin-sidebar-header__title">Admin</h3>
        <a href="/admin/adminUser/currentAccount" class="admin-sidebar-header-infor d-flex flex-column justify-content-center text-decoration-none text-white">
            <div class="admin-sidebar-header-avatar rounded-circle">
                <img src="{{user.avatar}}" alt="admin-avatar" class="admin-sidebar-header-avatar__img">
            </div>
            <span class="admin-sidebar-header-infor__name mt-2">{{user.username}}</span>
        </a>
    </div>


    <ul class="list-unstyled components pt-0 pb-0 admin-sidebar-list">
        <li class="admin-sidebar-item admin-sidebar-item--active">
            <a href="/admin" class="admin-sidebar-item__link">Home</a>
        </li>
        <li class="admin-sidebar-item">
            <a href="/admin/order" class="admin-sidebar-item__link">Đơn hàng</a>
        </li>
        <li class="admin-sidebar-item">
            <a href="/admin/product" class="admin-sidebar-item__link">Sản phẩm</a>
        </li>
        <li class="admin-sidebar-item">
            <a href="/admin/user" class="admin-sidebar-item__link">Người dùng</a>
        </li>
        <li class="admin-sidebar-item">
            <a href="/admin/adminUser" class="admin-sidebar-item__link">Người quản trị</a>
        </li>
<!--        <li class="admin-sidebar-item">-->
<!--            <a href="/admin/statistical" class="admin-sidebar-item__link">Thống kê</a>-->
<!--        </li>-->
        <li class="admin-sidebar-item has-submenu">
            <a class="admin-sidebar-item__link" href="#">Thống kê</a>
            <ul class="sidebar-sub-menu collapse">
                <li class="admin-sidebar-sub-item"><a class="admin-sidebar-sub-item__link" href="/admin/statistical/date">Theo ngày</a></li>
                <li class="admin-sidebar-sub-item"><a class="admin-sidebar-sub-item__link" href="/admin/statistical/month">Theo tháng</a></li>
                <li class="admin-sidebar-sub-item"><a class="admin-sidebar-sub-item__link" href="/admin/statistical/quarter ">Theo quý</a></li>
                <li class="admin-sidebar-sub-item"><a class="admin-sidebar-sub-item__link" href="/admin/statistical/year">Theo năm</a></li>
            </ul>
        </li>
        <li class="admin-sidebar-item">
            <a href="/admin/auth/logout" class="admin-sidebar-item__link d-flex align-items-center">
                Đăng xuất
            </a>
        </li>
    </ul>
</nav>