<div class="container">
    <div class="admin-container-content">
        <header class="admin-container-content-header">
            <h1 class="row py-4 text-primary admin-dashboard-header__title">
                Dashboard
            </h1>
        </header>
        <ul class="row admin-dashboard-list">
            <li class="col-lg-4 mb-4">
                <div class="admin-dashboard-item">
                    <h3 class="admin-dashboard-item__title">Sản phẩm đang bán</h3>
                    <span class="admin-dashboard-item-count">5</span>
                    <ul class="container admin-dashboard-item-infor-list">
                        <li class="row admin-dashboard-item-infor-item">
                            <span class="col-8 admin-dashboard-item-infor-item__label">Sắp hết hàng</span>
                            <span class="col-4 admin-dashboard-item-infor-item__description">5</span>
                        </li>
                        <li class="row admin-dashboard-item-infor-item">
                            <span class="col-8 admin-dashboard-item-infor-item__label">Lợi nhuận tháng này</span>
                            <span class="col-4 admin-dashboard-item-infor-item__description">213213
                                                <span>đ</span>
                                            </span>
                        </li>
                    </ul>
                    <button class="btn btn-light admin-dashboard-item-btn">
                        <a href="" class="admin-dashboard-item-btn__link">Thêm sản phẩm</a>
                    </button>
                    <button class="btn btn-light admin-dashboard-item-btn">
                        <a href="" class="admin-dashboard-item-btn__link">Danh sách sản phẩm</a>
                    </button>
                </div>
            </li>
            <li class="col-lg-4 mb-4">
                <div class="admin-dashboard-item">
                    <h3 class="admin-dashboard-item__title">Đơn hàng đang chờ xử lý</h3>
                    <span class="admin-dashboard-item-count">5</span>
                    <ul class="container admin-dashboard-item-infor-list">
                        <li class="row admin-dashboard-item-infor-item">
                            <span class="col-8 admin-dashboard-item-infor-item__label">Cần xác nhận</span>
                            <span class="col-4 admin-dashboard-item-infor-item__description">5</span>
                        </li>
                        <li class="row admin-dashboard-item-infor-item">
                            <span class="col-8 admin-dashboard-item-infor-item__label">Đang giao</span>
                            <span class="col-4 admin-dashboard-item-infor-item__description">4</span>
                        </li>
                        <li class="row admin-dashboard-item-infor-item">
                        </li>
                    </ul>
                    <button class="btn btn-light admin-dashboard-item-btn">
                        <a href="" class="admin-dashboard-item-btn__link">Xác nhận đơn hàng</a>
                    </button>
                    <button class="btn btn-light admin-dashboard-item-btn">
                        <a href="" class="admin-dashboard-item-btn__link">Đơn hàng đang giao</a>
                    </button>
                </div>
            </li>
            <li class="col-lg-4 mb-4">
                <div class="admin-dashboard-item">
                    <h3 class="admin-dashboard-item__title"> Doanh thu hôm nay</h3>
                    <span class="admin-dashboard-item-count">5</span>
                    <ul class="container admin-dashboard-item-infor-list">
                        <li class="row admin-dashboard-item-infor-item">
                            <span class="col-8 admin-dashboard-item-infor-item__label">Số đơn hôm nay</span>
                            <span class="col-4 admin-dashboard-item-infor-item__description">5</span>
                        </li>
                        <li class="row admin-dashboard-item-infor-item">
                            <span class="col-8 admin-dashboard-item-infor-item__label">Doanh thu tháng này</span>
                            <span class="col-4 admin-dashboard-item-infor-item__description">4</span>
                        </li>
                    </ul>
                    <button class="btn btn-light admin-dashboard-item-btn">
                        <a href="" class="admin-dashboard-item-btn__link">Thống kê bán hàng</a>
                    </button>
                    <button class="btn btn-light admin-dashboard-item-btn">
                        <a href="" class="admin-dashboard-item-btn__link">Thống kê sản phẩm</a>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>