<form class="container" id="addProductForm" action="/admin/product/add" enctype="multipart/form-data" method="post">
    <div class="admin-container-content">
        <header class="admin-container-content-header">
            <h1 class="row py-4 text-primary admin-container-content-header__title">
                Thêm sản phẩm
            </h1>
        </header>
        <div class="">
            <div class="">
                <div class="row justify-content-end">
                    <div class="col-sm-4">
                        <button id="addBtn" type="button" class="btn btn-primary shadow-none" data-toggle="modal">
                            <i class="fa fa-pencil"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Sản phẩm
                    </h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Tên sản phẩm
                            </div>
                            <div class="col-lg-9 py-2">
                                <input id="productNameInput" class="form-control shadow-none" name="fullName" type="text" placeholder="Tên sản phẩm" required>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-end">
                            <p id="existProductName" class="col-lg-9 text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Giá
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="price" type="number" step="0.01" min="0" placeholder="Giá" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Rating
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="rating" type="number" step="0.01" min="0" placeholder="Rating"> 
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Thương hiệu
                    </h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Tên thương hiệu
                            </div>
                            <div class="col-lg-9 py-2 d-flex justify-content-between dropdown-menu-group">
                                    <input name="brandName" id="brandNameInput" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Tên thương hiệu" required>
                                    <div class="">
                                        <button class="btn btn-outline-secondary dropdown-toggle shadow-none" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            {{#each brandNames}}
                                                <li class="dropdown-item">{{name}}</li>
                                            {{/each}}
                                        </ul>
                                    </div>
                            </div>
                        </div>
                        <div class="row align-items-center justify-content-end">
                            <p id="existBrandName" class="col-lg-9 text-danger"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Configuration
                    </h2>
                </div>
                <div class="row justify-content-center align-items-center py-4">
                    <div class="col">
                        <table class="table table-bordered admin-table">
                                    <thead class="admin-table-thead">
                                    <tr>
                                        <th class="col-6">
                                            Giá trị
                                        </th>
                                        <th class="col-5">
                                            Specification
                                        </th>
                                        <th class="col-1 text-center">
                                            Xóa
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="admin-table-tbody" id="configurationTable">

                                    </tbody>
                                </table>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-3 text-center">
                        <button id="addConfigurationRow" type="button" class="btn btn-sm btn-add shadow-none" data-toggle="modal">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Options
                    </h2>
                </div>
                <div class="row justify-content-center align-items-center py-4">
                    <div class="col">
                        <table class="table table-bordered admin-table">
                            <thead class="admin-table-thead">
                                <tr>
                                    <th class="col-4">
                                        Tên
                                    </th>
                                    <th class="col-4">
                                        Giá
                                    </th>
                                    <th class="col-3">
                                        Capacity
                                    </th>
                                    <th class="col-1 text-center">
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="admin-table-tbody" id="optionTable">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-3 text-center">
                        <button id="addOptionRow" type="button" class="btn btn-sm btn-add shadow-none" data-toggle="modal">
                            <i class="fas fa-plus"></i>
                            Thêm mới
                        </button>
                    </div>
                </div>
            </div>

            <div class="" id="pictureList">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Pictures
                    </h2>
                </div>
                <div class="row justify-content-start mt-4 add-new-pictures">
                    <input name="pictures" accept="image/*" type='file' id="imageInput" multiple/>
                </div>
                <div class="mt-4 p-1" style="border-radius: 10px; border: 1px solid #ccc; ">
                    <div class="row justify-content-start mt-4 none" id="showAddedImage"></div>
                </div>
            </div>

        </div>
    </div>
</form>

<div id="addModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn với lựa chọn?</p>
            </div>
            <div class="modal-footer">
                <button id="" type="submit" class="btn btn-primary" form="addProductForm">Save</button>
                <button id="" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}

    <script>

        let countConfiguration = 0;
        let countOption = 0;

        $('#addConfigurationRow').click(function (){
            console.log("addConfigurationRow");

            const configurationRow =
                `<tr>
                    <td>
                        <input class="form-control shadow-none" name="configurations[${countConfiguration}][configurationValue]" type="text" placeholder="Giá trị" required>
                    </td>
                    <td>
                        <div class="d-flex justify-content-between dropdown-menu-group">
                            <input name="configurations[${countConfiguration}][specificationName]" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Giá trí" required>
                        </div>
                    </td>
                     <td class="text-center">
                                <button type="button" class="btn btn-sm btn-delete-row shadow-none deleteRowBtn" data-toggle="modal">
                                    <i class="fas fa-trash-alt text-danger" style="font-size: 1.4rem"></i>
                                </button>
                      </td>
                </tr>`

            $('#configurationTable').append(configurationRow);
            countConfiguration++;
        })

        $('#addOptionRow').click(function (){
            console.log("addOptionRow");

            const optionRow =
                    `<tr>
                        <td>
                            <input class="form-control shadow-none" name="options[${countOption}][optionName]" type="text" placeholder="Giá trị">
                        </td>
                        <td>
                            <div class="d-flex justify-content-between dropdown-menu-group">
                                <input name="options[${countOption}][optionPrice]" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Giá trí" required>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-between dropdown-menu-group">
                                <input name="options[${countOption}][capacityName]" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Giá trí" required>
                            </div>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-sm btn-delete-row shadow-none deleteRowBtn" data-toggle="modal">
                                <i class="fas fa-trash-alt text-danger" style="font-size: 1.4rem"></i>
                            </button>
                        </td>
                    </tr>`

            $('#optionTable').append(optionRow);
            countOption++;
        })

        $('#imageInput').change(function(e) {
            // console.log("URL.createObjectURL: ", URL.createObjectURL(e.target.files[0]))

            let showAddedImageHtml = "";
            for (let file of e.target.files)
            {
                const src = URL.createObjectURL(file);

                showAddedImageHtml +=
                        `<div class="col-lg-1 col-md-3 col-sm-6 mb-4 addedImage">
                            <img src="${src}" alt="new product image" style="width: 80%"/>
                        </div>`

            }
            $("#showAddedImage").append(showAddedImageHtml);

        });


    </script>
    <script src="/adminStyle/js/filterSelect.js"></script>
    <script src="/adminStyle/js/table.js"></script>
    <script>

        let brandNames = new Array()
        let productNames = new Array();
        let isExistProductName = false;

        $(document).ready(function() {

            $.ajax({
                url: "/admin/api/product/brand",
                success(data){
                    console.log("ajax brand names");
                    brandNames = data.brandNames;
                }
            });

            $.ajax({
                url: "/admin/api/product/productName",
                success(data){
                    console.log("ajax product names");
                    productNames = data.productNames;
                }
            });
        });


        const brandNameInput = $("#brandNameInput");
        const existBrandName = $("#existBrandName");
        brandNameInput.change(function (e){
            const curBrandName = brandNameInput.val().trim();
            const isExistBrandName = brandNames.includes(curBrandName);

            console.log("curBrandName: ",curBrandName);
            console.log("brandNames: ",brandNames);
            if(isExistBrandName){
                console.log("Thương hiệu đã tồn tại");
                existBrandName.html("")
            }
            else
            {
                console.log("Thương hiệu chưa tồn tại");
                existBrandName.html("Tên thương hiệu chưa tồn tại<br>Hệ thống sẽ thêm thương hiệu mới");
            }

        })

        const productNameInput = $("#productNameInput");
        const existProductName = $("#existProductName");
        productNameInput.change(function (e){
            const curProductName = productNameInput.val().trim();
            isExistProductName = productNames.includes(curProductName);

            console.log("curProductName: ",curProductName);
            console.log("productNames: ",productNames);
            if(isExistProductName){
                console.log("Tên sản phẩm đã tồn tại");
                existProductName.html("Tên sản phẩm đã tồn tại<br>Vui lòng thử lại");
            }
            else
            {
                console.log("Tên sản phẩm  chưa tồn tại");
                existProductName.html("")
            }

        })

        $("#addBtn").click(function (e){
            if(!isExistProductName){
                $("#addModal").modal('show');
            }
        })

    </script>
{{/section}}
